/*** custom checkboxes ***/
input[type=checkbox] { display:none; } /* to hide the checkbox itself */
input[type=checkbox] + label:before {
  font-family: FontAwesome;
  display: inline-block;
}
input[class=forcat] + label:before { content: "\f055"; color: #CC2200;} /* unchecked icon */
input[class=forcat]:checked + label:before { content: "\f058"; color: #3366bb;} /* checked icon */

input[class=forfriend] + label:before { content: "\f234"; color: #CC2200;} /* unchecked icon */
input[class=forfriend]:checked + label:before { content: "\f007"; color: #3366bb;} /* checked icon */


label.forsize{
	font-size: 130%;
}