/* Game */
/*.btn {
	background-color: #87CEFA; 
	border-color: #ADD8E6;
}
.btn:hover, .btn:active {
	background-color: #00BFFF; 
	border-color: #87CEEB;
}
.btn:focus {                
	box-shadow: none;
}*/

/* Game  end */
.fa.fa-flag{
	color: red;
}
.fa.fa-flag:hover{
	color: red;
}